<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ContentExtension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>UNNotificationExtensionDefaultContentHidden</key>
			<true/>
			<key>UNNotificationExtensionCategory</key>
			<array>
				<string>WEG_CAROUSEL_V1</string>
				<string>WEG_RATING_V1</string>
				<string>WEG_BANNER_V1</string>
				<string>WEG_BANNER_V2</string>
				<string>WEG_BANNER_V3</string>
				<string>WEG_BANNER_V4</string>
				<string>WEG_BANNER_V5</string>
				<string>WEG_BANNER_V6</string>
				<string>WEG_BANNER_V7</string>
				<string>WEG_BANNER_V8</string>
				<string>WEG_TEXT_V1</string>
				<string>WEG_TEXT_V2</string>
				<string>WEG_TEXT_V3</string>
				<string>WEG_TEXT_V4</string>
				<string>WEG_TEXT_V5</string>
				<string>WEG_TEXT_V6</string>
				<string>WEG_TEXT_V7</string>
				<string>WEG_TEXT_V8</string>
			</array>
			<key>UNNotificationExtensionInitialContentSizeRatio</key>
			<real>0.5</real>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.content-extension</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
